.favs{
    padding: 5%;
}

.project{
    width: 100%;
    height: 30%;
    padding: 5%;
    background-color: #FFF;
    border: 3px solid #000;
    border-radius: 10px;
    margin-top: 3vh;
}

.title{
    display: flex;
    align-items: center;
}

.star{
    margin-right: 2vw;
    transform: rotate(-35deg);
}

.links{
    margin-left: 9vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vw;
}

.links p{
    font-size: 1.3em;
}

.link{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    color: #d600ff;
}

.text{
    font-size: 1.3em;
    font-weight: 500;
    margin-left: 9vw;
    margin-top: 2vh;
}

@media screen and (min-width: 700px){
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project{
        width: 43vw;
        height: 20vh;
        margin-top: 1vh;
        padding: 2%;
        gap: 1rem;
    }

    .star{
        margin-right: 1vw;
    }

    .links{
        margin-left: 4.5vw;
        gap: 0.2rem;
    }

    .links p{
        font-size: 1.2em;
    }

    .link{
        font-size: 1.2em;
    }

    .text{
        font-size: 1.2em;
        margin-left: 4.5vw;
    }
}

@media screen and (min-width: 900px){
    .project{
        height: 13vh;
    }

    .text{
        margin-top: 1vh;
    }
}

@media screen and (min-width: 1000px){
    .favs{
        padding: 1% 10%;
    }

    .wrapper{
        gap: 1rem;
    }

    .project{
        height: 30vh;
        width: 39vw;
    }

    .star{
        margin-right: 0.5vw;
    }

    .links{
        margin-left: 3vw;
    }

    .text{
        margin-top: 1vh;
        margin-left: 3vw;
    }
}

@media screen and (min-width: 1200px){

    .project{
        height: 25vh;
        width: 38vw;
    }

    .star{
        margin-right: 0.5vw;
    }

    .links{
        margin-left: 2.5vw;
    }

    .link{
        border-bottom: 2px solid transparent;
    }

    .link:hover{
        border-bottom: 2px solid #d600ff;
    }

    .text{
        margin-top: 1vh;
        margin-left: 2.5vw;
    }
}