.html5:hover{
    color: #e34c26;
}

.css3:hover{
    color: #264de4;
}

.javascript:hover{
    color: #f0db4f;
}

.react:hover{
    color: #61dbfb;
}

.typescript:hover{
    color: #007acc;
}

.node:hover{
    color: #3c873a;
}

.java:hover{
    color: #f89820;
}

.spring:hover{
    color: #5e8d5a;
}

.sql:hover{
    color: #00758f;
}